/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 févr. 2022, 15:13:31
    Author     : Rayen
*/


.parent{
    -fx-background-color: transparent;
}
.pane{
     -fx-background-image: url("/images/pibackground.png");
     -fx-background-size: 100%;
 /*  -fx-background-color: #2196f3; */
}
.trans-btn-white-border{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: whitesmoke;
}
.white-pane{
    -fx-background-color: transparent;
}
.blue-panel{
   
    -fx-background-color:#00171a;
   
}
.tf_box{
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-text-fill: white;
    -fx-border-width: 0px 0px 1px 0px;
}
.tf{
    -fx-background-color: transparent;    
}
.blue-btn{
    -fx-background-color: #ffe700;
    -fx-background-radius: 5px;
    -fx-text-fill: #00171a;
}
.transparent-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-text-fill: #ffe700;
}
.background_acceuil
{
     -fx-background-image: url("/images/background_main.png");
   -fx-background-size: cover;
}
.trans-btn-white-line{
    -fx-background-color: transparent;
    -fx-text-fill: whitesmoke;
}
.trans-btn-white-line:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-width:0px 0px 1px 0px;
  
}
.hello_text{
   -fx-font-family:Impact;
   -fx-font-size:36px;
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-text-fill: white; 
    -fx-border-width: 0px 0px 1px 0px;
    
}
.vbox_profile{
  -fx-background-image: url("/images/profile_vbox.png");
     -fx-background-size:cover;
}
.btn_profile_on_vbox{
      -fx-background-color: transparent;
       -fx-font-size:18px;
      -fx-text-fill: #00171a; 
      
}

.btn_profile_on_vbox:hover{
      -fx-background-color: #00171a;
      -fx-font-size:18px;
      -fx-text-fill: #ffe700; 
      
}
.yellow_pane{
    -fx-background-color:#fed000 ;
}
.image_profile
{
    -fx-background-image: url("/images/profile.png");
    -fx-background-size: cover;
}
.label_profile
{
     -fx-background-color: transparent;
     -fx-font-size:18px;
    -fx-text-fill: whitesmoke;
}

.trans-btn-search{
    -fx-background-color: #00171a;
    -fx-text-fill: whitesmoke;
    -fx-background-radius : 30px;
}
.trans-btn-contacter{
    -fx-background-color:#fed000 ;
    -fx-text-fill: #00171a;
    -fx-background-radius : 30px;
}
.label-nom_coach
{
        -fx-background-color: transparent;
         -fx-text-fill: whitesmoke;
          -fx-font-family:Impact;
           -fx-font-size:32px;

}

.label-specialite
{
        -fx-background-color: transparent;
         -fx-text-fill: whitesmoke;
          -fx-font-family:Impact;
           -fx-font-size:16px;

}
.vbox_contacter
{
   -fx-background-color: #00171a ;
   -fx-background-radius : 30px;
}
.vbox_coach{
  -fx-background-image: url("/images/coach_vbox.png");
     -fx-background-size:cover;
}