/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 févr. 2022, 15:13:31
    Author     : Rayen
*/

.parent{
    -fx-background-color: transparent;


}
.pane{
     -fx-background-image: url("/images/pibackground.png")no-repeat;

   -fx-background-size: 100%;
 /*  -fx-background-color: #2196f3; */
}
.trans-btn-white-border{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: whitesmoke;
}
.white-pane{
    -fx-background-color: transparent;
}
.blue-panel{
   
    -fx-background-color: #262626;
   
}
.tf_box{
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-text-fill: white;
    -fx-border-width: 0px 0px 1px 0px;
}
.tf{
    -fx-background-color: transparent;    
}
.blue-btn{
    -fx-background-color: #ffe700;
    -fx-background-radius: 5px;
    -fx-text-fill: #262626;
}
.transparent-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-text-fill: #ffe700;
}