.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-fruit-card{
    -fx-background-color: #F16C31;
    -fx-background-radius: 30;
}

.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
}

.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.free-delivery-card{
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

.shopping-online-card{
    -fx-background-color: #BAEAC3;
    -fx-background-radius: 30;
}

.fruit-item{
    -fx-background-color: #FFFFFF;
        -fx-background-radius: 30;
}
.photo_prot{
  -fx-background-image: url("/images/Proteinpulver-Whey-Gold-Standard-2267g-French-Vanilla-Cream--1-.png");
    -fx-background-size: cover;
}
.photo_new{
  -fx-background-image: url("/images/new-stamp-png.png");
    -fx-background-size: contain;
}
.photo_happy{
  -fx-background-image: url("/images/icons8-good-64.png");
    -fx-background-size: cover;
}
.photo_24{
  -fx-background-image: url("/images/icons8-service-64.png");
    -fx-background-size: cover;
}
.photo_choco{
  -fx-background-image: url("/images/isostar-high-energy-sport-bar-chocolate-3x35g.2003.jpg");
    -fx-background-size: contain;
}
.photo_bol{
  -fx-background-image: url("/images/icons8-innovation-64.png");
    -fx-background-size: cover;
}
.photo_sett{
  -fx-background-image: url("/images/icons8-service-50.png");
    -fx-background-size: cover;
}


